.totals {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  color: #595859;
  margin: 0 0 15px;
}

.totals__subtotal-value {
  margin: 0;
}

.totals__subtotal {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #595859;
}

.totals.totals-last {
  margin: 48px 0 33px;
}

.totals.totals-last .totals__subtotal {
  letter-spacing: 0.7px;
}

.totals.totals-last .totals__subtotal,
.totals.totals-last .totals__subtotal-value{
  font-weight: 600;
  text-transform: uppercase;
}


@media all and (min-width: 750px) {
  
}
